<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
            {% if site.glitch_username %}
            <li>
              {% include icon-glitch.html username=site.glitch_username %}
            </li>
            {% endif %}

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          {% for twitterAccount in site.twitters %}
          <li>
            {% include icon-twitter.html username=twitterAccount.username display=twitterAccount.display %}
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-3 description">
        <p>{{ site.description | markdownify }}</p>
      </div>
    </div>

  </div>
<img src="https://cassey-lytics.glitch.me/counter.png?fallback=casseydev&color=black" alt="" style="vertical-align: bottom;" aria-hidden="true">
</footer>
